{% block modals %}
    <div class="modal-wrapper" style="z-index:9999"></div>
    <script>
        function open_modal(id){
            $('.modal-wrapper').addClass('modal-backdrop fade in');
            $('#' + id).show();
        }

        function hide_modal() {
            $('.modal-wrapper').removeClass('modal-backdrop fade in');
            $('.modal').hide();
        }
    </script>
    <div id="add_modal" class="modal fade in" role="dialog" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog">
            <article class="modal-content panel">
                <header class="modal-header panel-header">
                    <h2 class="panel-title">Add Walk-In Volunteer</h2>
                    <nav class="panel-nav">
                    <button class="btn btn-link dismiss" onclick="hide_modal()">
                        <span aria-hidden="true">×</span>
                        <span class="reader-only">close modal</span>
                    </button>
                    </nav>
                </header>
                <form action="/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/walk_in" method="POST" class="no-margin">
                    <section class="modal-body panel-content">
                        <ul class="input-list">
                            <li class="input-unit">
                                <label class="input-label">First Name</label>
                                <div class="input-control">
                                    <input class="input-element" name="firstname" />
                
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Last Name</label>
                                <div class="input-control">
                                    <input class="input-element" name="lastname" />
               
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Phone</label>
                                <div class="input-control">
                                    <input class="input-element" name="phone" />
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Shift Time</label>
                                <div class="input-control">
                                    <select class="input-element input-element-base select" name="time">   
                                        <option value="10:00 AM">10:00 AM - 1:00 PM</option>
                                        <option value="1:00 PM">1:00 PM - 4:00 PM</option>
                                        <option value="4:00 PM">4:00 PM - 7:00 PM</option>
                                        <option value="6:00 PM">6:00 PM - 9:00 PM</option>
                                    </select>
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Activity</label>
                                <div class="input-control">
                                    <select class="input-element input-element-base select" name="activity">   
                                        <option value="Canvassing">Canvassing</option>
                                        <option value="Phonebanking">Phonebanking</option>
                                        <option value="Comfort Vol">Comfort Vol</option>
                                        <option value="Intern Interview">Intern Interview</option>
                                        <option value="Intern Onboarding">Intern Onboarding</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <footer class="modal-footer panel-footer">
                        <div class="panel-buttons">
                            <input type='submit' class="btn btn-blue" value="Add" />
                        </div>
                    </footer>
                </form>
            </article>   
        </div>
    </div>
{% endblock %}
