<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/normalize.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/progress.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/shared.css') }}">
  <script src="{{ url_for('static',filename='scripts/jquery.min.js') }}" type="text/javascript"></script>
  <link rel="icon" type="image/jpeg" href="{{ url_for('static',filename='img/favicon.ico') }}">
  {% block head %}

  {% endblock %}
  <title>Consolidated</title>
</head>

<body class="bg-gray-pale">
  <div class="app-wrapper">
    <header class="app-header">
      <section class="app-nav-header">
        <div class="app-branding app-title bg-blue6">
          <a class="app-image" href="/consolidated">
            <img src="{{ url_for('static',filename='img/favicon.ico') }}" 
              alt='mdplogo' height='40' />
          </a>
          <div class="app-user-controls">
            <div class="dropdown action-menu">
              <button class="btn btn-link btn-blue" onclick="$('#header_menu').toggle()">
                <span aria-hidden="true" class="menu-icon glyphicons glyphicons-menu-hamburger x1" style="color:#fff"></span>
              </button>
              <ul id="header_menu" class="dropdown-menu dropdown-menu-right left">
                {% if g.user %}
                  <li class="user-title">
                    Logged in as {{g.user.fullname if g.user.fullname else g.user.email}}
                  </li>
                {% endif %}
                {% if g.user.rank == "DATA" or g.user.rank == "FD" %}
                  <li>
                    <a href="/dashboard/conf">Dashboard</a>
                  </li>
                {% endif %}
                {% if g.user %}
                  <li>
                    <a href="/user">User Info</a>
                  </li>
                  <li>
                    <a href="/help">Help</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
                {% else %}
                  <li>
                    <a href="/login">Log In</a>
                  </li>
                {% endif %}
                </ul>
            </div>
          </div>
          <div id="current-viewers">
            <div class="users"></div>
            <div class="small hide">(People currently viewing this page)</div>
          </div>
        </div>
      </section>
    </header>
    <div class="app-content" style="padding:24px; padding-top:96px">
      {% include 'alert.html' %}
      {% block alerts %}

      {% endblock %}
      
      <article class="panel panel-default">
        <!-- What the fuck are you doing here? Get back to dialing :) -->
        {% block content %}

        {% endblock %}
      </article>
    </div>
  </div>
</body>

</html>