{% extends "base.html" %}

{% block content %}
    {% include 'pass.html' %}
    {% block pass %}

    {% endblock %}

    {% include "add_walk_in_modal.html" %}
    {% block modals %}

    {% endblock %}
    <header class="panel-tabs functional">
        <div class="tab {{'active' if active_tab == 'sdc'}}">
            <a href="{{'/consolidated/' + location.locationname[0:3] + '/sdc' if active_tab != 'sdc'}}">
                <h6>Same Day Confirms</h6>
            </a>
        </div>
        <div class="tab {{'active' if active_tab == 'kph'}}">
            <a href="{{'/consolidated/' + location.locationname[0:3] + '/kph' if active_tab != 'kph'}}">  
                <h6>KPH</h6>
            </a>
        </div>
        <div class="tab {{'active' if active_tab == 'flake'}}">
            <a href="{{'/consolidated/' + location.locationname[0:3] + '/flake' if active_tab != 'flake'}}">  
                <h6>Flake Chase</h6>
            </a>
        </div>
        <div class="tab {{'active' if active_tab == 'review'}}">
            <a href="{{'/consolidated/' + location.locationname[0:3] + '/review' if active_tab != 'review'}}">  
                <h6>Review</h6>
            </a>
        </div>
        <div class="tab add" style="display:block">
            <a title="Add Walk In" onclick="open_modal('add_modal')">  
                <span class="glyphicons glyphicons-plus"></span>
            </a>
        </div>
    </header>
    <section class="panel-content table-wrapper">       
        {% block above_table %} 

        {% endblock %}
        <table class="table table-panel table-striped table-small">
            {% block table %}

            {% endblock %}
        </table>    
    </section>
    <footer class="panel-footer">
        {% block footer %}

        {% endblock %}
    </footer>
{% endblock %}



