{% extends 'dashboard_tabs.html' %}

{% block headers %}
    <th>Office</th>
    <th>Total Canvassers</th>
    <th colspan="2">Canvass Same Day Confirmed</th>
    <th colspan="2">Canvass Completed</th>
    <th colspan="2">Canvass Declined</th>
    <th colspan="2">Canvass Flaked</th>
    <th>Total Phonebankers</th>
    <th colspan="2">Phone Same Day Confirmed</th>
    <th colspan="2">Phone Completed</th>
    <th colspan="2">Phone Declined</th>
    <th colspan="2">Phone Flaked</th>
    <th>Total Flakes</th>
    <th colspan="2">Flakes Attempted</th>
    <th colspan="2">Flakes Rescheduled</th>
    <th colspan="2">Flake Chase Remaining</th>
{% endblock %}

{% block rows %}
    {% for res in results %}
        <tr>
            <td class="item-info">
                <a class="item-name" href="/consolidated/{{res.office[0:3]}}/review">
                    {{res.office}}
                </a>
            </td>
            <td>{{res.canvass_total_scheduled}}</td>
            <td>{{res.canvass_same_day_confirmed}}</td>
            <td>{{(res.canvass_same_day_confirmed_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.canvass_completed}}</td>
            <td>{{(res.canvass_completed_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.canvass_declined}}</td>
            <td>{{(res.canvass_declined_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.canvass_flaked}}</td>
            <td>{{(res.canvass_flaked_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.phone_total_scheduled}}</td>
            <td>{{res.phone_same_day_confirmed}}</td>
            <td>{{(res.phone_same_day_confirmed_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.phone_completed}}</td>
            <td>{{(res.phone_completed_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.phone_declined}}</td>
            <td>{{(res.phone_declined_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.phone_flaked}}</td>
            <td>{{(res.phone_flaked_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.flake_total}}</td>
            <td>{{res.flake_attempts}}</td>
            <td>{{(res.flake_attempts_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.flake_rescheduled}}</td>
            <td>{{(res.flake_rescheduled_perc * 100)|round(2)|string + '%'}}</td>
            <td>{{res.flake_chase_remaining}}</td>
            <td>{{(res.flake_chase_remaining_perc * 100)|round(2)|string + '%'}}</td>
        </tr>  
    {% endfor %}
{% endblock %}