{% extends "consolidated_tabs.html" %}


{% set modal_title = 'Add Flake Pass' %}
{% set modal_dropdown_label = 'Flake Result' %}
{% set modal_dropdown_options = ['Not Contacted', 'Rescheduled' , 'Completed - Not Rescheduled', 'Completed - Completed Today'] %}

{% include "add_shift_pass_modal.html" %}


{% block table %}
    {% if shifts %}
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Cell</th>
                <th>Time</th>
                <th>Role</th>
                <th>Event</th>
                <th># of Passes</th>
                <th>Time of Last Pass</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for shift in shifts %}
                {% if shift.flake == False %}
                <tr>
                    <td id="name-{{shift.id}}">{{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}</td>
                    <td>{{shift.volunteer.phone_number}}</td>
                    <td>{{shift.volunteer.cellphone}}</td>
                    <td>{{shift.time}}</td>
                    <td>{{shift.role}}</td>
                    <td>{{shift.eventype}}</td>
                    <td>{{shift.flake_passed}}</td>
                    <td>{{shift.last_contact}}</td>
                    <td>
                        <select id='status-{{shift.id}}' onchange="updateStatus({{shift.id}})" value='{{shift.status}}'>
                            <option value={{shift.status}}>{{shift.status}}</option>
                            <option value='Same Day Confirmed'>Same Day Confirmed</option>
                            <option value='In'>In</option>
                            <option value='Completed'>Completed</option>
                            <option value='Declined'>Declined</option>
                            <option value='No Show'>No Show</option>
                        </select>
                    </td>
                    <td>
                        <input id='note-{{shift.id}}' type='text'>
                    </td>
                    <td>
                        <a href="#" onclick="addNote({{shift.id}})">Add Note</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor%}
        </tbody>
    {% endif %}
{% endblock %}

