{% extends "consolidated_tabs.html" %}

{% block table %}
    {% if shifts %}
        <thead class="thead">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Phone</th>
                <th>Cell</th>
                <th>Next Shift</th>
                <th>Time</th>
                <th>Location Name</th>
                <th>Role</th>
                <th>Event</th>
                <th>Passes</th>
                <th>Status</th>
                <th>New Note</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for shift in shifts if shift.flake %}
                <tr id="row-{{shift.id}}">
                    <td>
                        {{loop.index}}&nbsp;&nbsp;
                        <span class="glyphicons glyphicons-refresh hide" aria-hidden="true"></span>
                    </td>
                    <td id="name-{{shift.id}}">
                        <span id="vanid-{{shift.id}}" class="hide">{{shift.volunteer.van_id}}</span>
                        {{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}
                    </td>
                    <td>{{('({}) {}-{}'.format(shift.volunteer.phone_number[0:3], shift.volunteer.phone_number[3:6], shift.volunteer.phone_number[6:])) if shift.volunteer.phone_number }}</td>
                    <td>
                        <input id='phone-{{shift.id}}' name="cellphone" maxlength="120" type="text" value="{{shift.volunteer.cellphone if not shift.volunteer.cellphone == None}}"/>
                    </td>
                    <td>{{shift.volunteer.next_shift.strftime('%m/%d') if shift.volunteer.next_shift }}</td>
                    <td>{{shift.time.strftime('%I:%M %p')}}</td>
                    <td>{{shift.location.actual_location_name}}</td>
                    <td>{{shift.role}}</td>
                    <td>{{shift.eventtype}}</td>
                    <td>
                        <a id='passes-{{shift.id}}' name="passes" onclick="updateElem('passes-{{shift.id}}', 'passes', updatePasses)">{{shift.call_pass}}</a>
                    </td>
                    <td>
                        <select id='status-{{shift.id}}' onchange="updateElem('status-{{shift.id}}', 'status')" value='{{shift.status}}'>
                            {% if shift.status not in ['No Show', 'Resched', 'Declined', 'Same Day Confirmed'] %}
                                <option value={{shift.status}}>{{shift.status}}</option>
                            {% endif %}
                            <option value="No Show">Not Contacted</option>
                            <option value='Resched' {{"selected" if shift.status == "Resched"}}>Rescheduled</option>
                            <option value='Declined' {{"selected" if shift.status == "Declined"}}>Completed - Not Rescheduled</option>
                            <option value='Same Day Confirmed' {{"selected" if shift.status == "Same Day Confirmed"}}>Completed - Same Day Confirmed</option>
                        </select>
                    </td>
                    <td>
                        <input id='note-{{shift.id}}' name="note" type='text' maxlength="255" placeholder="Hit Enter to Save">
                    </td>
                    {% if shift.notes != 0 %}
                        {% for note in shift.notes[::-1] %}
                            {% if note.type == "flake" %}
                                <td>
                                    {{note.time.strftime('%I:%M %p')}}: {{note.text}}
                                    <span class="glyphicons glyphicons-remove" onclick="deleteNote({{shift.id}}, '{{note.text}}')" style="cursor:pointer"></span>
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor%}
        </tbody>
    {% endif %}
{% endblock %}

