{% extends 'base.html' %}

{% block content %}
<p dir="ltr"><strong>Instructions on how to use Consolidated </strong></p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><strong>Log-in with missouridems.org gmail account </strong></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><strong>Choose the office and pages </strong></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><strong>Click &ldquo;Open&rdquo;</strong></p>
	</li>
</ul>

<p>&nbsp;</p>

<p dir="ltr"><strong>Pages</strong></p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><strong>Same Day Confirms </strong></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><strong>Enter Vols/interns&rsquo; first name, last name and cell phone</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Select shift time and activities</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Click &ldquo;Add Walk In&rdquo;</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Change volunteers&rsquo; status according to the confirm calls</strong></p>

		<ul>
			<li dir="ltr">
			<p dir="ltr"><strong>Conditions: </strong></p>

			<ul>
				<li dir="ltr">
				<p dir="ltr"><strong>If vols/interns confirmed to do a later shift on the same day, change the status to &ldquo;Same Day Confirmed&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If vols/interns arrived at the field office, change the status to &ldquo;In&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If vols/interns completed their shifts, change the status to &ldquo;Completed&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If vols/interns did not show up at their shift times, change the status to &ldquo;Flake&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If vols/interns are not able to complete their shifts, change the status to &ldquo;Declined&rdquo;;</strong></p>
				</li>
			</ul>
			</li>
		</ul>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Other: Add notes and hit &ldquo;Enter&rdquo;</strong></p>
		</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><strong>KPH</strong></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><strong>When vols/interns come to the field office, change theirs status on Same Day Confirm Page to &ldquo;In&rdquo;</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Move to the KPH page</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Enter volunteers&rsquo; names, goal, # Packets Given, and Packets Info</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Click &ldquo;Create Canvassing Group&rdquo;</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Click &ldquo;Depart&rdquo; when volunteers/interns leave the field office</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Record the number of doors completed during check-ins </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Change actual doors </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Click &ldquo;Returned&rdquo; when volunteers/interns returned finished packets</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Other: Add notes and hit &ldquo;Enter&rdquo;</strong></p>
		</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><strong>Flake Chase</strong></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><strong>If vols/interns did not show up at scheduled times, change the status to &ldquo;flaked&rdquo; on Same Day Confirms page </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Move to Flake Chase Page </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Change status according to flake chase calls </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Move back to &ldquo;Same Day Confirms&rdquo; page</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Check the updated status </strong></p>

		<ul>
			<li dir="ltr">
			<p dir="ltr"><strong>Conditions</strong></p>

			<ul>
				<li dir="ltr">
				<p dir="ltr"><strong>If flake chase calls are completed but the volunteers did not reschedule shift times, status on the &ldquo;Same Day Confirms&rdquo; page will be updated to &ldquo;Declined&rdquo; correspondingly; </strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If flake chase calls are completed and the volunteers rescheduled their shifts, status on the &ldquo;Same Day Confirms&rdquo; page will be updated to &ldquo;Scheduled&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If flake chase calls are completed and the volunteers scheduled later shifts on the same day, the status on the &ldquo;Same Day Confirm&rdquo; page will be updated to &ldquo;Scheduled&rdquo;;</strong></p>
				</li>
				<li dir="ltr">
				<p dir="ltr"><strong>If the volunteers are not flake chased, the status on the &ldquo;Same Day Confirm&rdquo; page remains &ldquo;Flaked&rdquo;;</strong></p>
				</li>
			</ul>
			</li>
		</ul>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Other: add flake chase notes and hit &ldquo;Enter&rdquo;</strong></p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<p dir="ltr"><strong>Review</strong></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><strong>Check the summary of today&rsquo;s activity results </strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><strong>Sync to VAN </strong></p>
		</li>
	</ul>
	</li>
</ul>

{% endblock %}