{% extends 'base.html' %}

{% block content %}

<h1>Help</h1>

<h3 dir="ltr">Instructions on how to use Consolidated:</h3>

<ul>
	<li dir="ltr">
	<p dir="ltr">Log-in with your gmail account. If you are not able to log in, please make sure your RFD as sent your email to team data</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">If you have a default office, it will redirect to your default office consolidated</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Otherwise, choose your office and click &ldquo;Open&rdquo;</p>
	</li>
</ul>

<h3 dir="ltr">General Rules:</h3>

<ul>
	<li dir="ltr">
	<p dir="ltr">When editing, hit &ldquo;Enter&rdquo; or &ldquo;Tab&rdquo; to update the value in the input box. The database will not update if you do not do so for each individual box.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Whenever you update something on the page, check to make sure the green &ldquo;success&rdquo; box shows up at the top of the page.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Before calling a volunteer for a check in, confirmation, or flake chase, click &ldquo;Claim&rdquo; on the left side of the page. Every 20 seconds, these values will update, without refreshing the page. Claims can only be undone by the people who made the original claim. You may also change the color of your icon from black by going to the User Info page.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Every 20 seconds, any shifts or groups that have been updated by another user will show up as red with a refresh icon on the side. You will not be able to edit them until you refresh.</p>
	</li>
</ul>

<h3 dir="ltr">Pages</h3>

<ul>
	<li dir="ltr">
	<h4 dir="ltr">Same Day Confirms:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">Volunteer Status</p>

		<ul>
			<li dir="ltr">
			<p dir="ltr">Once volunteers are confirmed to do a shift later in the day, change the status to &ldquo;Same Day Confirmed&rdquo;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">When volunteers arrive at the field office, change the status to &ldquo;In&rdquo;;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Once volunteers completed their shifts, change the status to &ldquo;Completed&rdquo;; Note that this will happen automatically after pressing &ldquo;Done&rdquo; on KPH</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">If volunteers do not show up at their shift times, change the status to &ldquo;Flake&rdquo;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">If volunteers are not able to come, change the status to &ldquo;Declined&rdquo;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">If volunteers set up a new shift time, change the status to &ldquo;Rescheduled&rdquo;</p>
			</li>
		</ul>
		</li>
		<li dir="ltr">
		<p dir="ltr">Colors: volunteers marked as Same Day Confirmed, In, or Completed will show up as green, those marked Declined, Rescheduled, or Flaked will show up as red</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Passes: in order to mark that you&rsquo;ve made a pass, click the blue number, which should update it. Adding notes will not create a pass.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Notes: Any notes submitted within a five minute period of each other will be combined into one note. Changing the status will create a note for you.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Confirm Next Shift: If a volunteer has another scheduled shift, the date of that shift will show up in the &ldquo;Next Shift&rdquo; column. To confirm that shift, double click the date. All confirmed next shifts will show up with a green check next to it.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">VanID editing: For all walk-ins, you can add a van id on the same day confirm page. Please note, you may not edit the name or phone number of the volunteer after entering their VanID. Also, if we have that VanID already in our system, we will replace your inputted names&nbsp;with their official names in our database.&nbsp;</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">KPH:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">When volunteers come to the field office, change their status on the Same Day Confirm Page to &ldquo;In&rdquo;</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Move to the KPH page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Enter volunteers&rsquo; names, # Packets Given, Packets Info and Goal (you may update any of these values later)</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Click &ldquo;Create Canvassing Group&rdquo;</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Click &ldquo;Depart&rdquo; when volunteers leave the field office. This will schedule a check-in in 45 minutes.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">To record a check-in, update the &ldquo;Actual&rdquo; box. Leaving the number as the same and hitting Enter or Tab will record the check-in.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Click &ldquo;Done&rdquo; when volunteers returned finished packets. This will mark those shifts as &ldquo;Completed&rdquo;. If the volunteers are not, in fact, done, please click &ldquo;Not Done&rdquo; to continue their shift.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Colors: Groups that are done will appear as green. Overdue check-ins will appear as red.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">KPS Automation: No More KPS Form! Now every volunteer&#39;s KPS stats will be automatically added to their active vol/intern reports nightly.&nbsp;</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">Flake Chase:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">If volunteers did not show up at scheduled times, change the status to &ldquo;Flake&rdquo; on Same Day Confirms page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Move to Flake Chase Page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Status:</p>

		<ul>
			<li dir="ltr">
			<p dir="ltr">Selecting &ldquo;Rescheduled&rdquo; will mark the shift as Rescheduled. It will not reschedule someone for a new shift.</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Selecting &ldquo;Contacted - Not Rescheduled&rdquo; will mark them as &ldquo;Declined&rdquo;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Selecting &ldquo;Contacted - Same Day Confirmed&rdquo; will mark them as &ldquo;Same Day Confirmed&rdquo;</p>
			</li>
			<li dir="ltr">
			<p dir="ltr">Leaving as &ldquo;Not Contacted&rdquo; will leave the final VAN status as &ldquo;No Show&rdquo;</p>
			</li>
		</ul>
		</li>
		<li dir="ltr">
		<p dir="ltr">All flakes that have since been chased will remain on the Flake Chase page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Passes: in order to mark that you&rsquo;ve made a pass, click the blue number, which should update it. Adding notes will not create a pass.</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">Review:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">See the stats for your office at the top of the page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">The final VAN statuses for every shift will appear in a list below the stats</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">Walk Ins:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">To add a walk-in shift, click the + at the top right corner, or add it via the Same Day Confirm page</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Note: you may change the volunteer&rsquo;s name and phone number after submitting, but you cannot change their activity and shift time.</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">Backups:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">Early in the morning, a backup of the previous day&rsquo;s data will run. To access the previous day&rsquo;s data, click the link at the bottom of the respective Same Day Confirm and KPH pages.</p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<h4 dir="ltr">Regional Field Directors:</h4>

	<ul>
		<li dir="ltr">
		<p dir="ltr">When you log into the app, you will be taken to a regional view of the same pages. In order to get back to this view, you can go to the URL of any office page and replace with the region code. Or go to the dashboard and click on the total for your region.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">You will also have access to the Dashboard, which shows metrics on every office and region.</p>
		</li>
		<li dir="ltr">
		<p dir="ltr">Most importantly, you have access to VAN Sync. After shifts are in a final status, they will show up on the Review page, where you will see a button that says &ldquo;Sync Shifts to VAN&rdquo;. Clicking this button will flip those shifts in VAN to the given status. Please sync only when you know those shifts are in a final status, as there is a small cost to flipping tons of shifts in a day. We can cut down on that by only flipping each shift once.</p>

		<ul>
			<li dir="ltr">
			<p dir="ltr">You may receive a message after syncing that says &ldquo;The remaining shifts could not be found.&rdquo; If you see that, go back to the review page and manually flip those shifts in VAN. Please let the Data Team know which shifts did not flip automatically so we can see what went wrong.</p>
			</li>
		</ul>
		</li>
		<li dir="ltr">
		<p dir="ltr">New Users: please give the gmail of any new user you want to the Data Team, who will give them access to the app.</p>
		</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<p dir="ltr">Please read these instructions thoroughly to diagnose any problem you may have. If your questions aren&rsquo;t answered by these instructions, and your RFD does not know the answer, please email the data team at <a href="mailto:teamdata@missouridems.org">teamdata@missouridems.org</a>.</p>

<p><br />
&nbsp;</p>


{% endblock %}