{% extends "base.html" %}

{% block content %}
    <div class="panel-header">
        <h1>Welcome, {{user.email}}!</h1>
    </div>
    
    <form action="/consolidated" method="post">
        <div class="panel-content align-center">
            <label class="input-label" for="office"></label>
            <div class="input-control">
                <select class="input-element input-element-base select" id="office" name="office">
                    {% for office in offices %}
                        <option value='{{office.locationname}}'>{{office.locationname}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="panel-footer">
            <input type='submit' class="btn btn-blue btn-full" value='Select'>
        </div>
    </form>
    
{% endblock %}