{% extends "base.html" %}

{% block content %}
    <div class="panel-header">
        <h1>Welcome, {{g.user.fullname if g.user.fullname else g.user.email}}!</h1>
    </div>
    
    <form action="/consolidated" method="post">
        <div class="panel-content align-center">
            {% if g.user.rank == 'DATA' or g.user.rank == 'FD' %}
                <input type='submit' name='target' class="btn btn-blue btn-full" value='Dashboard'>
                <hr>
            {% endif %}
            <ul class="input-list">
                <li class="input-unit">
                    <label class="input-label" for="office">Office</label>
                    <div class="input-control">
                        <select class="input-element input-element-base select" id="office" name="office">
                            {% for office in offices %}
                                <option value='{{office.locationname}}'>{{office.locationname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li class="input-unit">
                    <label class="input-label" for="page">Page</label>
                    <div class="input-control">
                        <select class="input-element input-element-base select" id="page" name="page">
                            <option value='sdc'>Same Day Confirms</option>
                            <option value='kph'>KPH</option>
                            <option value='flake'>Flake Chase</option>
                            <option value='review'>Review</option>
                        </select>
                    </div>
                </li>
                
            </ul>
        </div>
        <div class="panel-footer">
            <input type='submit' name='target' class="btn btn-blue btn-full" value='Open'>
        </div>
    </form>
    
{% endblock %}
