{% extends "consolidated_tabs.html" %}

{% set modal_title = 'Add Check In' %}
{% set modal_dropdown_label = 'Returned' %}
{% set modal_dropdown_options = ['Yes', 'Not Yet', 'Thief'] %}

{% include "add_shift_pass_modal.html" %}

{% block table %}
{% if shifts %}
    <thead class="thead">
        <tr>
            <th>Name</th>
            <th>Goal</th>
            <th>Cell</th>
            <th>Actual</th>
            <th>% to Goal</th>
            <th>Returned</th>
            <th>Time of Departure</th>
            <th># Packets Out</th>
            <th>Packet</th>
            <th>Phone Number</th>
            <th>Next Check In</th>
            <th>Last Check In</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
        {% for shift in shifts %}
            {% if shift.status == "In" and shift.returned == False and shift.role == "Canvassing" %}
                <tr>
                    <td>{{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}</td>
                    <td>{{shift.goal}}</td>
                    <td>{{shift.volunteer.cellphone}}</td>
                    <td>{{shift.actual}}</td>
                    <td>{{shift.actual / shift.goal}}</td>
                    <td>{{shift.returned}}</td>
                    <td>{{shift.departure}}</td>
                    <td>{{shift.packets_given}}</td>
                    <td>{{shift.packet_names}}</td>
                    <td>{{shift.volunteer.phone_number}}</td>
                    <td>{{shift.departure}}</td>
                    <td>{{shift.last_contact}}</td>
                    <td>
                        <a href="#" onclick="openModal('add_modal', 'modal_shift_id', {{shift.id}})">Add Check In</a></td>
                    </tr>
            {% endif %}
        {% endfor %}
    </tbody>
{% endif %}
{% endblock %}


