{% block modals %}
    <div class="modal-wrapper" style="z-index:9999"></div>
    <script>
        function open_modal(id){
            $('.modal-wrapper').addClass('modal-backdrop fade in');
            $('#' + id).show();
        }

        function hide_modal() {
            $('.modal-wrapper').removeClass('modal-backdrop fade in');
            $('.modal').hide();
        }
    </script>
    <div id="add_modal" class="modal fade in" role="dialog" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog">
            <article class="modal-content panel">
                <header class="modal-header panel-header">
                    <h2 class="panel-title">Add Walk-In Volunteer</h2>
                    <nav class="panel-nav">
                    <button class="btn btn-link dismiss" onclick="hide_modal()">
                        <span aria-hidden="true">×</span>
                        <span class="reader-only">close modal</span>
                    </button>
                    </nav>
                </header>
                <form action="/consolidated/{{office}}/{{active_tab}}/walk_in" method="POST" class="no-margin">
                    <section class="modal-body panel-content">
                        <ul class="input-list">
                            <li class="input-unit">
                                <label class="input-label">First Name</label>
                                <div class="input-control">
                                    <input class="input-element" name="firstname" maxlength="120" />
                
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Last Name</label>
                                <div class="input-control">
                                    <input class="input-element" name="lastname" maxlength="120" />
               
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Phone</label>
                                <div class="input-control">
                                    <input class="input-element" name="phone" maxlength="120" />
                                </div>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Shift Time</label>
                                <div class="input-control">
                                    <select class="input-element input-element-base select" name="time" >   
                                        <option value="10:00 AM">10:00 AM - 1:00 PM</option>
                                        <option value="1:00 PM">1:00 PM - 4:00 PM</option>
                                        <option value="4:00 PM">4:00 PM - 7:00 PM</option>
                                        <option value="6:00 PM">6:00 PM - 9:00 PM</option>
                                    </select>
                                </div>
                                <script>
                                    var d = new Date();
                                    var hr = d.getHours();

                                    var selected = '';
                                    if (hr > 11 && hr < 15) {
                                        selected = '1:00 PM';
                                    } else if (hr > 15 && hr <= 16) {
                                        selected = '4:00 PM';
                                    } else if (hr > 16 && hr <= 21) {
                                        selected = '6:00 PM';
                                    } else {
                                        selected = '10:00 AM';
                                    }
                                    
                                    $('select[name="time"]').val(selected);
                                </script>
                            </li>
                            <li class="input-unit">
                                <label class="input-label">Activity</label>
                                <div class="input-control">
                                    <select class="input-element input-element-base select" name="activity">   
                                        <option value="Canvassing">Canvassing</option>
                                        <option value="Phonebanking">Phonebanking</option>
                                        <option value="Comfort Vol">Comfort Vol</option>
                                        <option value="Intern Interview">Intern Interview</option>
                                        <option value="Intern Onboarding">Intern Onboarding</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <footer class="modal-footer panel-footer">
                        <div class="panel-buttons">
                            <input type='submit' class="btn btn-blue" value="Add Walk In" />
                        </div>
                    </footer>
                </form>
            </article>   
        </div>
    </div>
    <div id="future_shifts_modal" class="modal fade in" role="dialog" tabindex="-1" aria-hidden="true" >
        <div class="modal-dialog">
            <article class="modal-content panel">
                <header class="modal-header panel-header">
                    <h2 class="panel-title">Future Shifts for <span id="future_shifts_name"></span></h2>
                    <nav class="panel-nav">
                    <button class="btn btn-link dismiss" onclick="hide_modal()">
                        <span aria-hidden="true">×</span>
                        <span class="reader-only">close modal</span>
                    </button>
                    </nav>
                </header>
                <section class="modal-body panel-content">
                    <script>
                        function showModalAlert(type, text) {
                            hideModalAlert();
                    
                            $('#modal-alert').removeClass('hide success info warn error').addClass(type);
                            $('#modal-alert-text').html(text);
                        }
                    
                        function hideModalAlert() {
                            $('#modal-alert').addClass('hide');
                        }
                    </script>
                    <div class="alert hide" id="modal-alert">
                        <span id="modal-alert-text"></span>
                        <a class="dismiss" onclick="hideModalAlert()">
                            <span class="glyphicons glyphicons-remove" aria-hidden="true"></span>
                            <span class="reader-only">Dismiss Alert</span>
                        </a>
                    </div>
                    <div class="grid-half" id="pitched_rows">
                        <div class="row">
                            <div class="col-4">
                                <label for="has_pitched_today">Has Been Pitched Today</label>
                                <div class="input-control center padding-top-sm">
                                    <input id="has_pitched_today-{2}" class="switch minimal" type="checkbox" {0} />
                                    <label for="has_pitched_today-{2}" class="switch-label">Has Been Pitched Today</label>
                                </div>
                            </div>
                            <div class="col-8" id="pitched_stats">
                                <label for="extra_shifts_sched">Extra Shifts Scheduled Today</label>
                                <div class="input-control">
                                    <input id="extra_shifts_sched" class="input-element" type="number" value="{1}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead id="future_shifts_head" class="thead">
                            <tr>
                                <th>Event</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="future_shifts_body" class="tbody">

                        </tbody>
                    </table>
                </section>
            </article>   
        </div>
    </div>
{% endblock %}
