<script>
    function getParentIdFromId(id) {
        return id.split('-').pop();
    }
    
    function getRowElem(parent_id, name){
        return $('#' + name + '-' + parent_id);
    }

    function getName(parent_id) {
        return getRowElem(parent_id, 'name').html();
    }

    function updateCellPhone(phone_id) {
        phoneElem = $('#' + phone_id);
        var phone = phoneElem.val();

        var parent_id = getParentIdFromId(phone_id);
        var name = getName(parent_id);
        var van_id = $('#vanid-' + parent_id).html();

        showAlert('info', 'Updating cell phone for ' + name);
        phoneElem.prop('disabled', 'disabled');

        $.ajax({
            type: 'POST', 
            url: '/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/pass',
            data: {
                van_id: van_id,
                cellphone: phone
            }
        }).done(function(d){
            showAlert('success', 'Cell Phone for ' + name + ' has been added');
            phoneElem.prop('disabled', false);
        }).fail(function(){
            showAlert('error', 'Cell Phone for ' + name + ' has NOT been added');
            phoneElem.prop('disabled', false);
        });
    }

    function updateElem(elem_id, elem_name, success_callback) {
        elem = $('#' + elem_id);
        var val = elem.val();

        var parent_id = getParentIdFromId(elem_id);
        var name = getName(parent_id);

        showAlert('info', 'Updating ' + elem_name + ' for ' + name);
        elem.prop('disabled', 'disabled');

        var data = {
            parent_id: parent_id
        };

        data[elem_name] = val;

        $.ajax({
            type: 'POST', 
            url: '/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/pass',
            data: data
        }).done(function(res){
            showAlert('success', elem_name + ' for ' + name + ' has been added');
            elem.prop('disabled', false);

            if (success_callback) {
                success_callback(parent_id, res, elem);
            }
        }).fail(function(){
            showAlert('error', elem_name + ' for ' + name + ' has NOT been added');
            elem.prop('disabled', false);
        });
    }

    function updateNote(parent_id, res, elem) {
        var child = document.createElement('td');
        child.innerText = res;
        getRowElem(parent_id, 'row').append(child);
        elem.val('');
    }

    function updateGoalActual(parent_id, res, elem) {
        getRowElem(parent_id, 'perc').html(getRowElem(parent_id, 'actual').val() / getRowElem(parent_id, 'goal').val());
    }

    function updateCheckIns(parent_id, res, elem) {
        console.log(res);

        getRowElem(parent_id, 'next-check').html(res.check_in_time);
        getRowElem(parent_id, 'last-check').html(res.last_check_in);
    }

    $('body').on('keyup', function(e) {
        e.preventDefault();

        if (e.keyCode == 13) {
            var name = e.target.attributes['name'].nodeValue;
            var id = event.target.id;

            if (name == 'note') {
                updateElem(id, name, updateNote);
            } else if (name == 'cellphone') {
                updateCellPhone(id, name, null);
            } else if (name == 'actual') {
                updateElem(id, name, updateGoalActual);
            } else if (name == 'goal') {
                updateElem(id, name, updateGoalActual);
            } else if (name == 'packets_given') {
                updateElem(id, name, null);
            } else if (name == 'packet_names') {
                updateElem(id, name, null);
            }
        }
    });

</script>