<script>
    function getShiftIdFromId(id) {
        return id.split('-').pop();
    }

    function getName(shift_id) {
        return  $('#name-' + shift_id).html();
    }

    function updateStatus(shift_id) {
        hideAlert();

        var statusElem = $('#status-' + shift_id);
        var status = statusElem.val();
        var name = getName(shift_id);

        showAlert('info', 'Updating status for ' + name);
        
        statusElem.prop('disabled', 'disabled');

        $.ajax({
            type: 'POST', 
            url: '/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/pass',
            data: {
                shift_id: shift_id,
                status: status
            }
        }).done(function(){
            showAlert('success', 'Status for ' + name + ' has been updated');
            statusElem.prop('disabled', false);
        }).fail(function(){
            showAlert('error', 'Status for ' + name + ' has NOT been updated');
            statusElem.prop('disabled', false);
        });
    }

    function addNote(note_id) {
        hideAlert();

        var noteElem = $('#' + note_id);
        var note = noteElem.val();

        var shift_id = getShiftIdFromId(note_id);
        var name = getName(shift_id);

        showAlert('info', 'Adding note for ' + name);
        noteElem.prop('disabled', 'disabled');

        $.ajax({
            type: 'POST', 
            url: '/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/pass',
            data: {
                shift_id: shift_id,
                note: note
            }
        }).done(function(){
            showAlert('success', 'Note for ' + name + ' has been added');
            noteElem.prop('disabled', false);

            var date = new Date();
            var hour = date.getHours();
            var pm = hour > 12;

            var min = date.getMinutes();
            var minutes = min.length < 2 ? "0" + min : min;

            var child = document.createElement('td');
            child.innerText = (pm ? hour - 12 : hour) + ":" + minutes + (pm ? ' PM' : ' AM') +  ": " + note;
            $('#row-' + shift_id).append(child);
            noteElem.val('');

        }).fail(function(){
            showAlert('error', 'Note for ' + name + ' has NOT been added');
            noteElem.prop('disabled', false);
        });
    }

    function updateCellPhone(phone_id) {
        hideAlert();

        phoneElem = $('#' + phone_id);
        var phone = phoneElem.val();

        var shift_id = getShiftIdFromId(phone_id);
        var name = getName(shift_id);
        var van_id = $('#vanid-' + shift_id).html();
        console.log(shift_id, van_id);

        showAlert('info', 'Updating cell phone for ' + name);
        phoneElem.prop('disabled', 'disabled');

        $.ajax({
            type: 'POST', 
            url: '/consolidated/{{location.locationname[0:3]}}/{{active_tab}}/pass',
            data: {
                van_id: van_id,
                cellphone: phone
            }
        }).done(function(){
            showAlert('success', 'Cell Phone for ' + name + ' has been added');
            phoneElem.prop('disabled', false);
        }).fail(function(){
            showAlert('error', 'Cell Phone for ' + name + ' has NOT been added');
            phoneElem.prop('disabled', false);
        });
    }

    $('body').on('keyup', function(e) {
        e.preventDefault();

        if (e.keyCode == 13) {
            if (e.target.attributes['name'].nodeValue == 'note') {
                addNote(event.target.id);
            } else if (e.target.attributes['name'].nodeValue == 'cellphone') {
                updateCellPhone(event.target.id);
            }
        }
    });

</script>