{% extends "consolidated_tabs.html" %}

{% block above_table %}
  
  {% if stats %}
  <ul class="stat-board stat-board-five">
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.vol_confirmed}}</div>
        <div class="stat-title">Vol Shifts Same Day Confirmed</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.vol_completed}}</div>
        <div class="stat-title">Volunteer Shifts Completed</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.vol_declined}}</div>
        <div class="stat-title">Volunteer Shifts Declined</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.vol_unflipped}}</div>
        <div class="stat-title">Vol Canvass Yet to Complete</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.vol_flaked}}</div>
        <div class="stat-title">Volunteer Canvass Flaked</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.intern_completed}}</div>
        <div class="stat-title">Intern Shifts Completed</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.intern_declined}}</div>
        <div class="stat-title">Intern Shifts Declined</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.canvassers_out}}</div>
        <div class="stat-title">Canvassers Out</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.packets_out}}</div>
        <div class="stat-title">Packets Out</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.kps|round(2)}}</div>
        <div class="stat-title">KPS</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.actual}}</div>
        <div class="stat-title">Total Actual</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.goal}}</div>
        <div class="stat-title">Total Goal</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{(stats.percent_to_goal * 100)|round(2)|string + '%' if stats.percent_to_goal else 0}}</div>
        <div class="stat-title">Total % to Goal</div>
      </div>
    </li>
    <li class="stat-item">
      <div class="stat-info">
        <div class="stat-data">{{stats.shifts_not_pitched}}</div>
        <div class="stat-title">Shifts Not Pitched for Extra Shifts</div>
      </div>
    </li>
  </ul>
  <hr />
  {% endif %}
  {% if shifts %}
  <h3>
    Sync to VAN
  </h3>
  <form action="/consolidated/{{office}}/sync_to_van" method="POST">
    <div class="table-wrapper">
      <table class="table table-panel table-striped table-small">
        <thead class="thead">
          <tr>
            <th></th>
            <th>VanID</th>
            <th>Name</th>
            <th>Event</th>
            <th>Time</th>
            <th>Has Been Pitched Today</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="tbody">
          {% for shift in shifts %}
          <tr id="{{loop.index}}">
            <td>
              {{loop.index}}
              <span class="glyphicons glyphicons-remove" aria-hidden="true" style="cursor:pointer" onclick="deleteRow({{loop.index}})"></span>
            </td>
            <td>
              <input name="shift_id[]" value="{{shift.id}}" type="hidden" />
              {{shift.volunteer.van_id}}
            </td>
            <td>
              {{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}
            </td>
            <td>{{shift.eventtype}}</td>
            <td>{{shift.time.strftime('%I:%M %p')}}</td>
            <td>{{'' if shift.status != 'Completed' else ('Yes' if shift.volunteer.has_pitched_today else 'No')}}</td>
            <td>
              {{shift.status}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if (g.user.rank in ["DATA", "FD"] and office != 'Out') %}
        <p>By clicking this button, you will sync all of these shifts to the status on the right.</p>
        
        <input type='submit' class="btn btn-full btn-blue" value="Sync Shifts To VAN" />
      {% endif %}
    </div>
  </form>
  {% endif %}
{% endblock %}