{% extends "consolidated_tabs.html" %}

{% block above_table %}
{% if stats %}
    <ul class="stat-board stat-board-four">
        <li class="stat-item">
          <div class="stat-info">
            <div class="stat-data">{{stats.vol_confirmed}}</div>
            <div class="stat-title">Vol Shifts Same Day Confirmed</div>
          </div>
        </li>
        <li class="stat-item">
          <div class="stat-info">
            <div class="stat-data">{{stats.vol_completed}}</div>
            <div class="stat-title">Volunteer Shifts Completed</div>
          </div>
        </li>
        <li class="stat-item">
          <div class="stat-info">
            <div class="stat-data">{{stats.vol_declined}}</div>
            <div class="stat-title">Volunteer Shifts Declined</div>
          </div>
        </li>
        <li class="stat-item">
          <div class="stat-info">
            <div class="stat-data">{{stats.vol_unflipped}}</div>
            <div class="stat-title">Vol Canvass Yet to Complete</div>
          </div>
        </li>
        <li class="stat-item">
            <div class="stat-info">
                <div class="stat-data">{{stats.vol_flaked}}</div>
                <div class="stat-title">Volunteer Canvass Flaked</div>
            </div>
        </li>
        <li class="stat-item">
            <div class="stat-info">
                <div class="stat-data">{{stats.intern_completed}}</div>
                <div class="stat-title">Intern Shifts Completed</div>
            </div>
        </li>
        <li class="stat-item">
            <div class="stat-info">
                <div class="stat-data">{{stats.intern_declined}}</div>
                <div class="stat-title">Intern Shifts Declined</div>
            </div>
        </li>
      </ul>
{% endif %}
{% endblock %}

{% block table %}
  {% if shifts %}
    <form action="" method="POST">
      <thead class="thead">
          <tr>
              <th></th>
              <th>VanID</th>
              <th>Name</th>
              <th>Event</th>
              <th>Cell Phone</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody class="tbody">
        {% for shift in shifts 
          if shift.status not in ['Invited', 'Scheduled', 'Same Day Confirmed', 'In'] and not shift.volunteer.van_id == None %}
            <tr>
                <td>{{loop.index}}</td>
                <td>
                    <input name="vanid-{{shift.id}}" value="{{shift.volunteer.van_id}}" type="hidden" />
                    {{shift.volunteer.van_id}}
                </td>
                <td>
                    {{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}
                </td>
                <td>{{shift.eventtype}}</td>
                <td>{{shift.volunteer.cellphone}}</td>
                <td>
                    <input name="status-{{shift.id}}" value="{{shift.status}}" type="hidden" />
                    {{shift.status}}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </form>
  {% endif %}
{% endblock %}

{% block footer %}
  {% if (g.user.rank == "DATA" or g.user.rank == "FD") and shifts %}
    <p>By clicking this button, you will sync all of these shifts to the status on the right.</p>

    <button class="btn btn-full btn-blue">Sync Shifts To VAN</button>
  {% endif %}
{% endblock %}