{% extends "consolidated_tabs.html" %}

{% block above_table %}
<form action="/consolidated/{{office}}/{{active_tab}}/walk_in" method="POST">
    <table class="table">
        <tbody class="tbody">
            <tr>
                <td>
                    <label class="input-label">First Name</label>
                    <div class="input-control">
                        <input class="input-element" name="firstname" maxlength="120" />
    
                    </div>
                </td>
                <td>
                    <label class="input-label">Last Name</label>
                    <div class="input-control">
                        <input class="input-element" name="lastname" maxlength="120" />
                    </div>
                </td>
                <td>
                    <label class="input-label">Phone</label>
                    <div class="input-control">
                        <input class="input-element" name="phone" maxlength="120" />
                    </div>
                </td>
                <td>
                    <label class="input-label">Shift Time</label>
                    <div class="input-control">
                        <select class="input-element input-element-base select" name="time" >   
                            <option value="10:00 AM">10:00 AM - 1:00 PM</option>
                            <option value="1:00 PM">1:00 PM - 4:00 PM</option>
                            <option value="4:00 PM">4:00 PM - 7:00 PM</option>
                            <option value="6:00 PM">6:00 PM - 9:00 PM</option>
                        </select>
                    </div>
                </td>
                <td>
                    <label class="input-label">Activity</label>
                    <div class="input-control">
                        <select class="input-element input-element-base select" name="activity">   
                            <option value="Canvassing">Canvassing</option>
                            <option value="Phonebanking">Phonebanking</option>
                            <option value="Comfort Vol">Comfort Vol</option>
                            <option value="Intern Interview">Intern Interview</option>
                            <option value="Intern Onboarding">Intern Onboarding</option>
                        </select>
                    </div>
                </td>
                <td>
                    <input class="btn btn-blue" style="margin-top:30px" type="submit" value="Add Walk In" />
                </td> 
            </td>
        </tbody>
    </table>
</form>

{% endblock %}

{% block table %}
    {% if shifts %}
        <thead class="thead">
            <tr>
                <th></th>
                <th>Claim</th>
                <th>VanID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Cell Phone</th>
                <th>Next Shift</th>
                <th>Time</th>
                <th>Location Name</th>
                <th>Event</th>
                <th>Role</th>
                <th>Status</th>
                <th>Passes</th>
                <th>New Note</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for shift in shifts %}
                <tr id="row-{{shift.id}}" class="{{'bg-green2' if shift.status in ['Same Day Confirmed', 'In', 'Completed'] else ('bg-red2' if shift.status in ['Declined', 'No Show'])}}">
                    <td>
                        {{loop.index}}
                        <span class="glyphicons glyphicons-refresh hide" aria-hidden="true"></span>
                        {% if shift.volunteer.van_id == None %}
                            <span class="glyphicons glyphicons-remove" onclick="deleteElement({{shift.id}})" style="cursor:pointer;margin-right:0"></span>
                        {% endif %}
                    </td>
                    <td>
                        <a id="claim-{{shift.id}}" name="claim" onclick="updateElem('claim-{{shift.id}}', 'claim', updateClaim)" {{'disabled' if shift.claim != None and shift.claim != g.user.id}}>
                            {% if not shift.claim %}
                                Claim
                            {% else %}
                                <i class="user-icon" style="background-color:#{{shift.claim_user.color if shift.claim_user.color else '000000'}}">{{shift.claim_user.claim_name()}}</i>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {% if shift.volunteer.van_id == None %}
                            <input id='vanid-{{shift.id}}' name='vanid' maxlength="10" type="text" style="width:80px" value="{{shift.volunteer.van_id if shift.volunteer.van_id != None}}" />
                        {% else %}
                            <p id="van_id-{{shift.id}}">{{shift.volunteer.van_id}}</p>
                        {% endif %}
                    </td>
                    <td id="name-{{shift.id}}">
                        {% if shift.volunteer.van_id == None %}
                            <input id='firstname-{{shift.id}}' name="first_name" maxlength="120" type="text" style="width:75px" value="{{shift.volunteer.first_name if not shift.volunteer.first_name == None}}"/>
                            <input id='lastname-{{shift.id}}' name="last_name" maxlength="120" type="text" style="width:100px" value="{{shift.volunteer.last_name if not shift.volunteer.last_name == None}}"/>
                        {% else %}
                            <a onclick="get_future_shifts({{shift.volunteer.van_id}}, '{{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}')">
                                {{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if shift.volunteer.van_id == None %}
                            <input id='phone-{{shift.id}}' name="phone" maxlength="120" type="text" style="width:100px"  value="{{shift.volunteer.phone_number if not shift.volunteer.phone_number == None}}"/>
                        {% else %}
                            {{'({}) {}-{}'.format(shift.volunteer.phone_number[0:3], shift.volunteer.phone_number[3:6], shift.volunteer.phone_number[6:]) if shift.volunteer.phone_number != None}}
                        {% endif %}
                    </td>
                    <td>
                        <input id='cellphone-{{shift.id}}' name="cellphone" maxlength="120" type="text" style="width:100px" value="{{shift.volunteer.cellphone if not shift.volunteer.cellphone == None}}"/>
                    </td>
                    <td >
                        {{shift.volunteer.next_shift.strftime('%m/%d') if shift.volunteer.next_shift }}
                        {% if shift.volunteer.next_shift_confirmed %}
                            &nbsp;<span class='glyphicons glyphicons-ok text-green7'></span>
                        {% endif %}
                    </td>
                    <td>{{shift.time.strftime('%I:%M %p')}}</td>
                    <td>{{shift.location.actual_location_name}}</td>
                    <td>{{shift.eventtype}}</td>
                    <td>{{shift.role}}</td>
                    <td>
                        <select id='status-{{shift.id}}' onchange="updateElem('status-{{shift.id}}', 'status', addNote)" value='{{shift.status}}'>
                            {% if shift.o_status not in ['Same Day Confirmed', 'In', 'Completed', 'Declined', 'No Show', 'Resched'] %}
                                <option value={{shift.o_status}}>{{shift.o_status}}</option>
                            {% endif %}
                            <option value='Same Day Confirmed' {{"selected" if shift.status == "Same Day Confirmed"}}>Same Day Confirmed</option>
                            <option value='In' {{"selected" if shift.status == "In"}}>In</option>
                            <option value='Completed' {{"selected" if shift.status == "Completed"}}>Completed</option>
                            <option value='Declined' {{"selected" if shift.status == "Declined"}}>Declined</option>
                            <option value="No Show" {{"selected" if shift.status == "No Show"}}>Flake</option>
                            <option value='Resched' {{"selected" if shift.status == "Resched"}}>Rescheduled</option>
                        </select>
                    </td>
                    <td>
                        <a id='passes-{{shift.id}}' name="passes" onclick="updateElem('passes-{{shift.id}}', 'passes', updatePasses)">{{shift.call_pass}}</a>
                    </td>
                    <td>
                        <input id='note-{{shift.id}}' name="note" type='text' maxlength="255" placeholder="Hit Enter To Save">
                    </td>
                    {% if shift.notes != 0 %}
                        {% for note in shift.notes|sort(attribute='time', reverse=True) %}
                            {% if note.type == "sdc" %}
                                <td>
                                    {{note.time.strftime('%I:%M %p')}}: {{note.text}}
                                    <span class="glyphicons glyphicons-remove" onclick="deleteNote({{shift.id}}, '{{note.text}}')" style="cursor:pointer"></span>
                                </td>  
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}
{% block footer %}
<p><a href="/consolidated/{{office}}/{{active_tab}}/backup">Click here to see past shifts</a></p>
{% endblock %}