{% extends "consolidated_tabs.html" %}

{% set modal_title = 'Add Confirmation Pass' %}
{% set modal_dropdown_label = 'Confirmation Result' %}
{% set modal_dropdown_options = ['Completed', 'Flaked' , 'Declined'] %}

{% include "add_shift_pass_modal.html" %}

{% block table %}
    {% if shifts %}
        <thead class="thead">
            <tr>
                <th>VanID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Cell Phone</th>
                <th>Location</th>
                <th>Time</th>
                <th>Role</th>
                <th>Event</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for shift in shifts %}
            {% if shift.status in ['Scheduled', 'Invited', 'Confirmed', 'Left Msg'] %}
                <tr>
                    <td>{{shift.person}}</td>
                    <td>{{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}</td>
                    <td>{{shift.volunteer.phone_number}}</td>
                    <td>{{shift.volunteer.cellphone}}</td>
                    <td>{{shift.shift_location.locationname}}</td>
                    <td>{{shift.time}}</td>
                    <td>{{shift.role}}</td>
                    <td>{{shift.eventtype}}</td>
                    <td>{{shift.status}}</td>
                    <td>
                        <a href="#" onclick="openModal('add_modal', 'modal_shift_id', {{shift.id}})">Add Pass</a>
                    </td>
                    <!-- TODO: 

                        ADD PASS RESULTS
                    
                    -->
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}