{% extends "consolidated_tabs.html" %}

{% block table %}
    {% if shifts %}
        <thead class="thead">
            <tr>
                <th>VanID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Cell Phone</th>
                <th>Location</th>
                <th>Time</th>
                <th>Event</th>
                <th>Role</th>
                <th>Status</th>
                <th></th>
                <th>Passes Made</th>
                <th>New Note</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for shift in shifts %}
                <tr id="row-{{shift.id}}">
                    <td id="vanid-{{shift.id}}">{{shift.volunteer.van_id}}</td>
                    <td id="name-{{shift.id}}">
                        {% if shift.volunteer.van_id == None %}
                            <input id='firstname-{{shift.id}}' name="first_name" maxlength="120" type="text" value="{{shift.volunteer.first_name if not shift.volunteer.first_name == None}}"/>
                            <input id='lastname-{{shift.id}}' name="last_name" maxlength="120" type="text" value="{{shift.volunteer.last_name if not shift.volunteer.last_name == None}}"/>
                        {% else %}
                            {{shift.volunteer.first_name + ' ' + shift.volunteer.last_name}}
                        {% endif %}
                    </td>
                    <td id="phone-{{shift.id}}">
                        {% if shift.volunteer.van_id == None %}
                            <input id='phone-{{shift.id}}' name="phone" maxlength="120" type="text" value="{{shift.volunteer.phone if not shift.volunteer.phone == None}}"/>
                        {% else %}
                            {{shift.volunteer.phone_number if shift.volunteer.phone_number != None}}
                        {% endif %}
                    </td>
                    <td>
                        <input id='cellphone-{{shift.id}}' name="cellphone" maxlength="120" type="text" value="{{shift.volunteer.cellphone if not shift.volunteer.cellphone == None}}"/>
                    </td>
                    <td>{{shift.shift_location.locationname}}</td>
                    <td>{{shift.time.strftime('%I:%M %p')}}</td>
                    <td>{{shift.eventtype}}</td>
                    <td>{{shift.role}}</td>
                    <td>
                        <select id='status-{{shift.id}}' onchange="updateElem('status-{{shift.id}}', 'status')" value='{{shift.status}}'>
                            {% if shift.status not in ['Same Day Confirmed', 'In', 'Completed', 'Declined', 'No Show'] %}
                                <option value={{shift.status}}>{{shift.status}}</option>
                            {% endif %}
                            <option value='Same Day Confirmed'>Same Day Confirmed</option>
                            <option value='In'>In</option>
                            <option value='Completed'>Completed</option>
                            <option value='Declined'>Declined</option>
                            <option value="No Show" {{"selected" if shift.status == "No Show"}}>Flake</option>
                        </select>
                    </td>
                    <td id="check_ins-{{shift.id}}">{{shift.call_pass}}</td>
                    <td>
                        <input id='note-{{shift.id}}' name="note" type='text' maxlength="255" placeholder="Hit Enter To Save">
                    </td>
                    {% if shift.notes != 0 %}
                        {% for note in shift.notes[::-1] %}
                            <td>{{note.time.strftime('%I:%M %p')}}: {{note.text}}</td>
                        {% endfor %}
                    {% endif %}
                    <!-- TODO:

                        Make moving users to KPH deliberate (create another table with "walkins to kph", backend combines them)
                        Make phonenumbers editable (like, modal on the number maybe? just some way to change it)
                        Same day confirm pass #s (has been added to model)
                        Select Menu for Status: Current Status, Completed, Declined, Flaked, In, Same Day Confirmed
                        ADD PASS RESULTS (text box attached to post "called" button that logs time, automatic saved via some JS magic?) Work flow (type in note, click called) it saves and adds a new row)

                        >>> from datetime import datetime
                        >>> time = datetime.now().time()
                        >>> note = Note('kps', time, "this is a test 1", 102684833, 9)
                        >>> db.session.add(note)
                        >>> db.session.commit()
                        >>> shift = Shift.query.filter_by(id=9).first()
                        >>> print(shift)
                        <Shift 9>
                        >>> print(shift.time)
                        18:00:00
                        >>> print(shift.notes)
                        [<Note 1>]
                        >>> for note in shift.notes:
                        ...     print(note.text)
                        ...
                        this is a test 1
                    
                    -->
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}