{% extends 'base.html' %}

{% block content%}
<div class="table-wrapper">
    <table class="table table-panel table-data table-small">
    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Region</th>
            <th>Office</th>
            <th>Allowed</th>
        </tr>
    </thead>
    <tbody class="tbody">
{% for u in all_users %}
    {% if user.rank == 'DATA' %}
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.email}}</td>
            <td>
                <select>
                    <option value='Intern' {{"selected" if u.rank == 'Intern'}}>Intern</option>
                    <option value='DFO' {{"selected" if u.rank == 'DFO'}}>DFO</option>
                    <option value='FO' {{"selected" if u.rank == 'FO'}}>FO</option>
                    <option value='FD' {{"selected" if u.rank == 'FD'}}>FD</option>
                    <option value='DATA' {{"selected" if u.rank == 'DATA'}}>DATA</option>
                    <option value='None' {{"selected" if u.rank == None}}>None</option>
                </select>
            </td>
            <td>
                <select>
                    <option value='R1' {{"selected" if u.region == 'R1'}}>R1</option>
                    <option value='R2' {{"selected" if u.region == 'R2'}}>R2</option>
                    <option value='R3' {{"selected" if u.region == 'R3'}}>R3</option>
                    <option value='R4' {{"selected" if u.region == 'R4'}}>R4</option>
                    <option value='R5' {{"selected" if u.region == 'R5'}}>R5</option>
                    <option value='R6' {{"selected" if u.region == 'R6'}}>R6</option>
                    <option value='R7' {{"selected" if u.region == 'R7'}}>R7</option>
                    <option value='R8' {{"selected" if u.region == 'R8'}}>R8</option>
                    <option value='HQ' {{"selected" if u.region == 'HQ'}}>HQ</option>
                    <option value='None' {{"selected" if u.region == None}}>None</option>
                </select>
            </td>
            <td>
                <select>
                    <option value='{{u.office}}' {{"selected" if u.office == '{{location.locationname}}'}}>{{u.office}}</option>
                    <option value='{{u.region}}' {{"selected" if u.office == '{{u.region}}'}}>{{u.region}}</option>></option>
                    {% for location in locations %}
                    <option value='{{location.locationname}}'>{{location.locationname}}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type='checkbox' name='allowed' {{"checked" if user.is_allowed == True}}></td>
        </tr>
    {% endif %}
{% endfor %}
    </tbody>
    </table>
{% endblock %}