{% extends 'base.html' %}

{% block content%}
<div class="table-wrapper">
    <table class="table table-panel table-data table-small">
    <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Region</th>
            <th>Office</th>
            <th>Allowed</th>
            <th>First Active</th>
            <th>Last Active</th>
            <th></th>

        </tr>
    </thead>
    <tbody class="tbody">
{% for u in all_users %}
    {% if user.rank == 'DATA' %}
        <form method = 'Post'>
        <tr>
            <td>
                <input name='id' value='{{u.id}}' type='hidden'>
                {{u.id}}
            </td>
            <td>{{u.email}}</td>
            <td>
                <select name='rank'>
                    {% if u.rank == None %}
                    <option value=None {{"selected" if u.rank == None}}>None</option>
                    {% endif %}
                    <option value='Intern' {{"selected" if u.rank == 'Intern'}}>Intern</option>
                    <option value='DFO' {{"selected" if u.rank == 'DFO'}}>DFO</option>
                    <option value='FO' {{"selected" if u.rank == 'FO'}}>FO</option>
                    <option value='FD' {{"selected" if u.rank == 'FD'}}>FD</option>
                    <option value='DATA' {{"selected" if u.rank == 'DATA'}}>DATA</option>
                    
                </select>
            </td>
            <td>
                <select name='region'>
                    {% if u.region == None %}
                    <option value=None {{"selected" if u.region == None}}>None</option>
                    {% endif %}
                    <option value='R1' {{"selected" if u.region == 'R1'}}>R1</option>
                    <option value='R2' {{"selected" if u.region == 'R2'}}>R2</option>
                    <option value='R3' {{"selected" if u.region == 'R3'}}>R3</option>
                    <option value='R4' {{"selected" if u.region == 'R4'}}>R4</option>
                    <option value='R5' {{"selected" if u.region == 'R5'}}>R5</option>
                    <option value='R6' {{"selected" if u.region == 'R6'}}>R6</option>
                    <option value='R7' {{"selected" if u.region == 'R7'}}>R7</option>
                    <option value='R8' {{"selected" if u.region == 'R8'}}>R8</option>
                    <option value='HQ' {{"selected" if u.region == 'HQ'}}>HQ</option>
                </select>
            </td>
            <td>
                <select name='office'>
                    <option value='{{u.office}}' {{"selected" if u.office == '{{location.locationname}}'}}>{{u.office}}</option>
                    {% for location in locations %}
                    <option value='{{location.locationname}}'>{{location.locationname}}</option>
                    {% endfor %}
                    <option value='N/A' {{"selected" if u.office == None}}>N/A</option>
                </select>
            </td>
            <td><input type='checkbox' name='allowed' {{"checked" if u.is_allowed == True}}></td>
            <td>{{u.first_active}}</td>
            <td>{{u.most_recent}}</td>
            <td><input type='submit' value='Update'></td>
            
        </tr>
        </form>
    {% endif %}
{% endfor %}
    </tbody>
    </table>
{% endblock %}